<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si la petición no es para un archivo real (como un .js, .css, o imagen)
  RewriteCond %{REQUEST_FILENAME} !-f
  # Y tampoco es para una carpeta real
  RewriteCond %{REQUEST_FILENAME} !-d
  # Redirigí todo al index.html para que lo maneje React Router
  RewriteRule . /index.html [L]
</IfModule>